* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(213, 196, 253);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 66px;
    background: #d5c4fd;
    box-shadow:  32px 32px 64px #c2b2e6,
             -32px -32px 64px #e8d6ff;
}

.display-container {
    border-radius: 12px;
    background: #f3f3f3;
    box-shadow: inset 6px 6px 12px #d3d3d3,
            inset -6px -6px 12px #ffffff;
    margin-bottom: 3rem;
    padding: 1rem 1rem 0 1rem;
}

#working {
    font-size: 0.7rem;
    font-family: 'Orbitron', sans-serif;
    color: rgb(19, 235, 206);
}

#main-display {
    text-align: right;
    font-size: 1.7rem;
    padding-bottom: 1rem;
    font-family: 'Orbitron', sans-serif;
    color: rgb(19, 235, 206);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

button {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 66px;
    background: linear-gradient(145deg, #e4d2ff, #c0b0e4);
    box-shadow:  8px 8px 17px #b3a5d5,
             -8px -8px 17px #f7e3ff;
    transition: all 250ms ease-in-out;
}

button:active {
    border-radius: 66px;
    background: linear-gradient(145deg, #c0b0e4, #e4d2ff);
    box-shadow:  8px 8px 17px #b3a5d5,
             -8px -8px 17px #f7e3ff;
}

.number {
    background-color: rgb(213, 196, 253);
}

#equals { grid-area: 3 / 5 / 5 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
}
#clear { grid-area: 4 / 1 / 5 / 2;
    background-color: rgb(213, 196, 253);
}
#zero { grid-area: 4 / 2 / 5 / 3; }
#decimal { grid-area: 4 / 3 / 5 / 4; }
#plus { grid-area: 4 / 4 / 5 / 5; }